
@{
    ViewBag.Title = "Create";
}


<h2>Create Proposal</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div id="pctConstruction">
        <h3>Percent of Construction</h3>
          <!--  <h4>Commercial Projects</h4>-->
        <div class="field-heading">
            @Html.Label("Consruction Sq Feet Cost:")
            @Html.Editor("txt")
        </div>
        <div class="field-heading">
            @Html.Label("Square Footage:")
            @Html.Editor("txt")
        </div>
        <div class="field-heading">
            @Html.Label("% of Engineering Fee:")
            @Html.Editor("txt")
        </div>
        <div class="field-heading">
            @Html.Label("Engineering Fee Based on Construction Cost:")
           @Html.DisplayText("Total Cost")
        </div>
    </div>
    <div id="SqFootageFee">
        <h3>Fee Based on Square Footage Basis</h3>
        <div>
            @Html.Label("Total Square Footage:")
            @Html.Editor("txt")
        </div>
        <div>
            @Html.Label("Engineering Fee per Square Foot:")
            @Html.Editor("txt")
        </div>
        <div>
            @Html.Label("Fee Based on Square Footage Cost:")
            @Html.DisplayText("Total Cost")
        </div>
    </div>
    <div id="NumberofSheetsFee">
        <h3>Fee Based On Number of Sheets</h3>
        
        @Html.Label("Sheet Title")
        <div>
            @Html.Label("GSN:")
            @Html.Editor("txt")
        </div>
        <div>
            @Html.Label("Typical Details:")
            @Html.Editor("txt")
        </div>
        <div>
            @Html.Label("Foundation Plans:")
            @Html.Editor("txt")
        </div>
        <div>
            @Html.Label("Floor Framing Plans:")
            @Html.Editor("txt")
        </div>
        <div>
            @Html.Label("Roof Framing Plans:")
            @Html.Editor("txt")
        </div>
        <div>
            @Html.Label("Wall Panel Elevation:")
            @Html.Editor("txt")
        </div>
        <div>
            @Html.Label("Shear Wall Plans:")
            @Html.Editor("txt")
        </div>
        <div>
            @Html.Label("Foundation Details:")
            @Html.Editor("txt")
        </div>
        <div>
            @Html.Label("Framing Details:")
            @Html.Editor("txt")
        </div>
        <div>
            @Html.Label("Total Sheets:")
            @Html.DisplayText("Total Sheet Count")
            <!--need to add a break or space here but can't figure it out-->
        </div>
        <div id="HoursPerSheet">
            <div>
                @Html.Label("Estimated Drafting Hours Per Sheet:")
                @Html.Editor("txt")
            </div>
            <div>
                @Html.Label("Total Drafting Hours:")
                @Html.Editor("txt")
                @Html.Label("Hourly Rate:")
                @Html.Editor("txt")
            </div>
            <div>
              @Html.DisplayText("Total Cost")
            </div>
            <div>
                @Html.Label("Total Engineering Hours:")
                @Html.Editor("txt")
                @Html.Label("Hourly Rate:")
                @Html.Editor("txt")
            </div>
            <div>
                @Html.DisplayText("Total Cost")
            </div>
            <div>
                @Html.Label("Plan Check Comments:")
                @Html.Editor("txt")
            </div>
            <div>
                @Html.Label("Shop Drawing Review:")
                @Html.Editor("txt")
            </div>
            <div>
                @Html.Label("Construction Administration (RFI):")
                @Html.Editor("txt")
            </div>
            <div>
                @Html.Label("Fee Based on Square Footage Cost:")
                @Html.DisplayText("Total Cost")
            </div>
        </div>
        <div id="ManHoursFee">
            <h3>Fee Based On Man Hours</h3>
            <div>
                @Html.Label("Estimated Hours Per Sheet:")
            </div>
            <div>
                @Html.Label("GSN:")
                @Html.Editor("txt")
            </div>
            <div>
                @Html.Label("Typical Details:")
                @Html.Editor("txt")
            </div>
            <div>
                @Html.Label("Foundation Plans:")
                @Html.Editor("txt")
            </div>
            <div>
                @Html.Label("Floor Framing Plans:")
                @Html.Editor("txt")
            </div>
            <div>
                @Html.Label("Roof Framing Plans:")
                @Html.Editor("txt")
            </div>
            <div>
                @Html.Label("Wall Panel Elevation:")
                @Html.Editor("txt")
            </div>
            <div>
                @Html.Label("Shear Wall Plans:")
                @Html.Editor("txt")
            </div>
            <div>
                @Html.Label("Foundation Details:")
                @Html.Editor("txt")
            </div>
            <div>
                @Html.Label("Framing Details:")
                @Html.Editor("txt")
            </div>
            <div>
                @Html.Label("Fee Based on Man Hours:")
                @Html.DisplayText("Total Cost")
            </div>
        </div>
        <div id="UnitBasedFee">
            <h3>Fee Based On Unit(Apartments/Condominiums Only)</h3>
            <div>
                @Html.Label("Number of Units:")
                @Html.Editor("txt")
            </div>
            <div>
                @Html.Label("Cost Per Unit:")
                @Html.Editor("txt")
            </div>
            <div>
                @Html.Label("Total Unit Fee:")
                @Html.DisplayText("Total Cost")
            </div>
            <div>
                @Html.Label("Community Servie Area:")
                @Html.Editor("txt")
            </div>
            <div>
                @Html.Label("Price Per Square Feet:")
                @Html.Editor("txt")
            </div>
            <div>
                @Html.Label("Community Service Fees:")
                @Html.DisplayText("Total Cost")
            </div>
            <div>
                @Html.Label("Retaining Walls/Misc:")
                @Html.Editor("txt")
            </div>
            <div>
                @Html.Label("Fee Based on Number of Units:")
                @Html.DisplayText("Total Cost")
            </div>
        </div>
    </div>
    <div id="TotalCalc">
        <h3>Total Calculations</h3>
        <h4>Minimum Fee:</h4>
        <p>$300 One Time Client</p>
        <p>$150 for Regular Clients</p>
        <h4>Reinbersable</h4>
        <div>
            @Html.Label("Engineering Fee Based On Based On Construction Cost:")
            @Html.DisplayText("Total Cost")
        </div>
        <div>
            @Html.Label("Fee Based on Sqaure Footage Cost:")
            @Html.DisplayText("Total Cost")
        </div>
        <div>
            @Html.Label("Fee Based on Number of Sheets:")
            @Html.DisplayText("Total Cost")
        </div>
        <div>
            @Html.Label("Fee Based On Man Hours:")
            @Html.DisplayText("Total Cost")
        </div>
        <div>
            @Html.Label("Fee Based On Number Of Units:")
            @Html.DisplayText("Total Cost")
        </div>
        
        <div>
            @Html.Label("Agerage Engineeing Cost")
        </div>
        
        <div>
            @Html.Label("Contract Amount")
        </div>
    </div>


}
