@model IEnumerable<Project_1.Models.Proposal>

@{
    ViewBag.Title = "Index";
}

<h2>Manage Proposals</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientID)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.RequestByID)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.DateRequested)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedByID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApproverID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentStatus)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.SqFtCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SqFootage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngineeringFeePercent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngineeringFeePerSqFt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeeSqFt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeePercentConstruction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConstructionCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GSN)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.TypicalDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoundationPlans)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FloorFraming)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoofFraming)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WallPanelElevation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SheerWallPlans)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoundationDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FramingDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstHoursPerSheet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DraftingHourlyRate)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.EngineeringHourlyRate)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.PlanCheckComments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopDrawingReview)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConstructionAdmin_RFI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialInspections)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialInspectionsRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeeSheets)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GSNHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypicalDetailsHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoundationPlansHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FloorFramingHours)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.RoofFramingHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WallPanelElevationHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SheerWallPlansHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoundationDetailsHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FramingDetailsHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumUnits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostPerUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommunityServiceArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PricePerSqFt_CommunityServiceArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommunityServiceFees)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RetainingWallsAndMiscFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoteOnMiscFees)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.FeeNumUnits)
        </th>*@
        
        @*<th>
            @Html.DisplayNameFor(model => model.NumOfFeesInCalc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngineeringEst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DraftingEst)
        </th>*@
        
        <th>
            @Html.DisplayNameFor(model => model.EngineeringFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DraftingFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeeAverage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContractAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientID)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.RequestByID)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.DateRequested)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedByID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApproverID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentStatus)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.SqFtCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SqFootage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EngineeringFeePercent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EngineeringFeePerSqFt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FeeSqFt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FeePercentConstruction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConstructionCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GSN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypicalDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FoundationPlans)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FloorFraming)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoofFraming)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WallPanelElevation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SheerWallPlans)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FoundationDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FramingDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstHoursPerSheet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DraftingHourlyRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EngineeringHourlyRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlanCheckComments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopDrawingReview)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConstructionAdmin_RFI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialInspections)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialInspectionsRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FeeSheets)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GSNHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypicalDetailsHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FoundationPlansHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FloorFramingHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoofFramingHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WallPanelElevationHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SheerWallPlansHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FoundationDetailsHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FramingDetailsHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumUnits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostPerUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommunityServiceArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PricePerSqFt_CommunityServiceArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommunityServiceFees)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RetainingWallsAndMiscFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoteOnMiscFees)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FeeNumUnits)
        </td>*@
        
        @*<td>
            @Html.DisplayFor(modelItem => item.NumOfFeesInCalc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EngineeringEst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DraftingEst)
        </td>*@
        
        <td>
            @Html.DisplayFor(modelItem => item.EngineeringFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DraftingFee)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.FeeAverage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContractAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProposalID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProposalID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProposalID })
        </td>
    </tr>
}

</table>
